*.class
*.jar
.clj-kondo/.lock
.clj-kondo/inline-configs
.clj-kondo/.cache
public/
.clerk/
.cpcache/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/checkouts/
/classes/
/lib/
/target/
pom.xml
!template/pom.xml
pom.xml.asc
node_modules
**.shadow-cljs