{:deps {generateme/fastmath {:mvn/version "2.1.9-SNAPSHOT"}
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:clerk {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"}}
                   :extra-paths ["examples" "examples/src"]}
           :test {:extra-paths ["test"]}
           :clj-test {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                      :main-opts ["-m" "cognitect.test-runner"]
                      :exec-fn cognitect.test-runner.api/test}}}
